/* Portfolio */

* {
    box-sizing: border-box;
  }

body {
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  }

h1 {
    font-size: 40px;
    word-break: break-all;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 60px;
  }

h3 {
    font-size: 30px;
    word-break: break-all;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 60px;
  }



.content {
    max-width: 800px; 
    margin: auto;
    justify-content: space-evenly;

  }

.row {
    flex-direction: column;
    justify-content: space-evenly;

}


.content {
    margin-bottom: 150px;
    margin-top: 70px;
}

.row__link img {
    width: 100%;
}

footer {
    display: flex;
}

@media screen and (max-width: 678px) {
    .row {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .content {
        margin-bottom: 30px;
    }
}